body{
    background-image: url(static/images/platform/backgroundBlue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333; /* Add a border with 2px width and #333 color */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 4px;
}
