<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/municipality-settings/municipality-dashboard.css}">
</head>
<body>
<div th:insert="~{fragments/fragments::nav}">My navbar</div>

<div class="container-fluid my-2">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<h2 class="text-center mb-3">Municipality Dashboard</h2>
		</div>
	</div>
</div>
<div class="row p-2 p-2">
	<div class="col">
		<div>
			<div class="card text-center">
				<div class="card-body">
					<i class="bi bi-gear h1"></i>
					<h5 class="card-title">Customize Settings</h5>
					<p class="card-text">Customize Municipality Settings</p>
					<a class="btn btn-primary" href="/youth-council-dashboard/settings">Go to Municipality Settings</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div>
			<div class="card text-center">
				<div class="card-body">
					<i class="bi bi-person-rolodex h1"></i>
					<h5 class="card-title">Manage Users</h5>
					<p class="card-text">Promote or demote users or ban them</p>
					<a class="btn btn-primary" href="/youth-council-dashboard/users">Go to Users</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row p-2">
	<div class="col">
		<div>
			<div class="card text-center">
				<div class="card-body">
					<i class="bi bi-collection h1"></i>
					<h5 class="card-title">Pages</h5>
					<p class="card-text">Create Pages for users to visit</p>
					<a class="btn btn-primary" th:href="@{/pages}">Go to Pages</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div>
			<div class="card text-center">
				<div class="card-body">
					<i class="bi bi-envelope-paper h1"></i>
					<h5 class="card-title">Forms</h5>
					<p class="card-text">Create Surveys and observe responses</p>
					<a class="btn btn-primary" th:href="@{/forms}">Go to Forms</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
