<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--	  style="min-height: 100%; position: relative">-->
<!--<head>-->
<!--	<th:block th:insert="~{fragments/fragments::meta_script_link}" />-->
<!--	<title>Municipality Home</title>-->
<!--	<link rel="stylesheet" th:href="@{/css/municipality-home/municipality-home.css}">-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:insert="~{fragments/fragments::nav}"></th:block>-->

<!--<div class="container-fluid my-2">-->
<!--	<div class="row justify-content-center">-->
<!--		<div class="col-lg-8">-->
<!--			<h2 class="text-center mb-3">Welcome to the Homepage!</h2>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<!--<div class="container">-->
<!--	<p class="welcome-message">-->
<!--		We are a dynamic group of young individuals dedicated to making a positive impact in our community.-->
<!--		Through collaboration, innovation, and advocacy, we strive to address the issues that matter most to young people.-->
<!--		Our mission is to create a platform where youth voices are heard and valued, empowering us to shape the future we envision.-->
<!--		We believe that by working together, we can create change and make a real difference in the world around us.<br>-->
<!--		Join us today and become a part of this vibrant community of passionate young change makers.-->
<!--		Together, let's inspire, influence, and create a better tomorrow!-->
<!--	</p>-->

<!--	<p>Stand up and speak out!</p>-->

<!--	<div class="card-container">-->
<!--		<div class="card">-->
<!--			<div class="card-inner">-->
<!--				<div class="card-front">-->
<!--					<h3 class="card-title">How do I join?</h3>-->
<!--				</div>-->
<!--				<div class="card-back">-->
<!--					<p class="card-content">Sign up is a quick process, and you can also sign up using Google or Facebook.</p>-->
<!--					<a href="/sign-up" class="card-link">Sign up here</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="card">-->
<!--			<div class="card-inner">-->
<!--				<div class="card-front">-->
<!--					<h3 class="card-title">Which Youth Council can I join?</h3>-->
<!--				</div>-->
<!--				<div class="card-back">-->
<!--					<p class="card-content">You can view a map of available youth councils that you can join. Select whichever works best for you.</p>-->
<!--					<a href="/join-youth-council" class="card-link">Join here</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

<!--		<div class="card">-->
<!--			<div class="card-inner">-->
<!--				<div class="card-front">-->
<!--					<h3>How to Delete Account</h3>-->
<!--				</div>-->
<!--				<div class="card-back">-->
<!--					<p>If you wish to delete your account, please follow the steps below:</p>-->
<!--					<ol>-->
<!--						<li>Go to your account settings.</li>-->
<!--						<li>Locate the "Delete Account" option.</li>-->
<!--						<li>Click on the option and confirm your decision.</li>-->
<!--						<li>Your account will be permanently deleted.</li>-->
<!--					</ol>-->
<!--					<p>Please note that deleting your account is irreversible and all associated data will be lost.</p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

<!--	</div>-->
<!--</div>-->

<!--<div>Contact us</div>-->


<!--<div th:insert="~{fragments/fragments::footer}">Footer</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Municipality Home</title>
	<link rel="stylesheet" th:href="@{/css/municipality-home/municipality-home.css}">
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>

<div class="container-fluid my-2">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<h2 class="text-center mb-3">Welcome to the Homepage!</h2>
		</div>
	</div>
</div>

<div class="container">
	<p class="welcome-message">
		We are a dynamic group of young individuals dedicated to making a positive impact in our community.
		Through collaboration, innovation, and advocacy, we strive to address the issues that matter most to young people.
		Our mission is to create a platform where youth voices are heard and valued, empowering us to shape the future we envision.
		We believe that by working together, we can create change and make a real difference in the world around us.<br><br>
		Join us today and become a part of this vibrant community of passionate young change makers.
		Together, let's inspire, influence, and create a better tomorrow!
	</p>

	<p class="speak-out left-speak-out">Stand up and speak out!</p>

	<p class="speak-out right-speak-out">We need your voice!</p>

	<div class="card-container">
		<div class="card">
			<div class="card-inner">
				<div class="card-front">
					<h3 class="card-title">How do I join?</h3>
				</div>
				<div class="card-back">
					<p class="card-content">Joining the youth council is easy! Simply sign up using our registration form or log in with your existing Google or Facebook account.</p>
					<a href="/sign-up" class="card-link">Sign up here</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-inner">
				<div class="card-front">
					<h3 class="card-title">Which youth council can I join?</h3>
				</div>
				<div class="card-back">
					<p class="card-content">You can explore and join various youth councils available in your area. Discover the ones that align with your interests and aspirations.</p>
					<a href="/join-youth-council" class="card-link">Join here</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-inner">
				<div class="card-front">
					<h3 class="card-title">How do I delete my account?</h3>
				</div>
				<div class="card-back">
					<p class="card-content">Click <a href="/my-account" class="card-link">here</a> and then click on the delete button.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contact-us">
	<h3 class="contact-title">Contact Us</h3>
	<p class="contact-text">Reach out to us through the following channels:</p>
	<ul class="contact-list">
		<li>Email: <a href="mailto:info@example.com">info@example.com</a></li>
		<li>Phone: <a href="tel:+1234567890">+1234567890</a></li>
		<li>Social Media: <a href="https://www.facebook.com/example" target="_blank">Facebook</a>, <a href="https://www.twitter.com/example" target="_blank">Twitter</a>, <a href="https://www.instagram.com/example" target="_blank">Instagram</a></li>
	</ul>
</div>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
