<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}"></th:block>
	<title>Customise Municipality</title>
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="mb-3">
				<label class="form-label" for="logo-upload">Logo</label>
				<input class="form-control" id="logo-upload" type="file">
			</div>
		</div>
		<div class="col-md-6">
			<div class="d-flex align-items-center justify-content-center" id="preview"
				 style="height: 200px; max-height: 200px;"
			>
				<img alt="Preview Image" class="img-fluid" id="preview-image" src="https://via.placeholder.com/200x200">
			</div>
		</div>
	</div>
</div>
</body>
</html>