<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pages Overview</title>
	<!-- Include Bootstrap CSS -->
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<script defer th:src="@{/js/pages/pageOverview.js}" type="module"></script>
</head>
<body class="container">
<th:block th:insert="~{fragments/fragments::nav}" />
<h1 class="mt-4 mb-4">Pages Overview</h1>

<div class="container">
	<div class="page-list" id="pageList">
		<div class="page-entry" th:each="page : ${pages}" th:id="${'page' + page.id}">
			<div class="row">
				<div class="col-8">
					<h4 class="page-title" th:text="${page.title}"></h4>
				</div>
				<div class="col-2">
					<div class="form-check form-switch">
						<input class="form-check-input active-page-input" th:checked="${page.active}"
							   th:data-id="${page.id}" type="checkbox"
						>
					</div>
				</div>
				<div class="col-2">
					<button class="btn btn-primary edit-btn"
							th:data-id="${page.id}" type="button"
					>Edit
					</button>
					<button class="btn btn-danger delete-page-btn" th:data-id="${page.id}" type="button">Delete
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-primary mt-4" data-bs-target="#newPageModal" data-bs-toggle="modal" type="button">New Page
</button>

<!-- New Page Modal -->
<div class="modal" id="newPageModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New Page</h5>
				<button aria-label="Close" class="close" data-bs-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input class="form-control" id="newPageTitle" placeholder="Title" type="text">
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="createPage" type="button">Create Page</button>
				<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit Page Modal -->
<div class="modal" id="editPageModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Page</h5>
				<button aria-label="Close" class="close" data-bs-dismiss="modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input class="form-control" id="editPageTitle" placeholder="New title" type="text">
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="savePageTitle" type="button">Save changes</button>
				<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
