@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

h2{
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333; /* Add a border with 2px width and #333 color */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 4px;
}

p, i, span, .btn {
    font-family: "Open Sans";
}

a:not(nav a) {
    font-family: "Open Sans"
}

/*BACKGROUND NOT SHOWING UP ON PAGE*/
body {
    background-image: url(static/images/platform/backgroundMagenta.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#map {
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border: 3px solid #333; /* Add a border with 2px width and #333 color */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 4px; /* Add rounded corners */

}
