@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background: linear-gradient(to bottom, #476ff4, #954588)
}

h2{
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333;
    padding: 10px;
    border-radius: 4px;
}

h4{
    color: white;
    font-family: 'Bungee';
}

p, i, span, .btn {
    font-family: "Open Sans";
}

a:not(nav a) {
    font-family: "Open Sans"
}

#map {
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border: 3px solid #333;
    padding: 10px;
    border-radius: 4px;
}

input[type="number"] {
    width: 350px;
}

#searchContainer {
   padding-left: 50px;
}
