@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background-image: url("/images/platform/backgroundMagenta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333; /* Add a border with 2px width and #333 color */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 4px;
}

h5{
    font-family: 'Langar';
}

p{
    font-family: 'Open Sans';
}


.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* CSS animation for the video cards */
.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
    opacity: 1;
    transform: none;
}


