@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background: linear-gradient(to bottom, #476ff4, #954588)
}


h2 {
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333;
    /* Add a border with 2px width and #333 color */
    padding: 10px;
    /* Add some padding for better spacing */
    border-radius: 4px;
}

h4{
    color: black;
    font-family: 'Bungee';
}



div, p, .btn {
    font-family: 'Open Sans';
}

th, tr{
    color: white;
}

.page-entry {
    margin-bottom: 20px;
}

.page-title {
    font-size: 18px;
    font-weight: bold;
}


.page-list {
    background-color: #7e2dda;
    padding: 20px;
    border-radius: 5px;
}

.page-entry {
    background-color: #2ec7f6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}




