@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, #476ff4, #954588)
}

h2 {
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333; /* Add a border with 2px width and #333 color */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 4px;
}

p, i, span, tr, #\31  > td.description,#\31  > td.theme{
    font-family: "Open Sans";
    color: white;
}

.btn{
    font-family: "Open Sans";
}

.title a{
    color: #f6cf31;
}

#create-call{
    margin-top: 10px;
}
