<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Ideas</title>
	<link rel="stylesheet" th:href="@{/css/call-for-ideas/ideas.css}">
</head>
<body class="bodyBackground">
<th:block th:insert="~{fragments/fragments::nav}"></th:block>

<div class="row">
	<div class="col">
		<h2 class="text-center mt-4 mb-4">Ideas</h2>
	</div>
</div>

<div class="container">
	<table id="dtVerticalScroll1" class="table table-striped table-bordered table-sm">
		<thead>
		<tr>
			<th class="th-sm">Description</th>
			<th class="th-sm">Theme</th>
		</tr>
		</thead>
		<tbody class="tbodyIdeas">
		<tr th:each="idea: ${ideas}" >
			<td class="title" th:text="${idea.content}" />
			<td class="description" th:text="${idea.subTheme.subThemeName}" />
		</tr>
		</tbody>
	</table>
	<br>
	<a th:href="@{/call-for-ideas-dashboard}">
		<button class="btn btn-primary" id="goBack"> go back</button>
	</a>
</div>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
