<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Liked Ideas</title>
	<script defer src="/js/call-for-ideas/like-idea.js" type="module"></script>
	<link rel="stylesheet" th:href="@{/css/call-for-ideas/liked-ideas.css}">
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>




<div class="container my-2 ideaContainer">
	<div class="row">
		<div class="col">
			<h2 th:if="${ideas==null}" class="text-center mt-4 mb-4" >You have no liked ideas!</h2>
		</div>
	</div>
<!--	<h2 th:if="${ideas==null}" >You have no liked ideas!</h2>-->
	<th:block th:each="idea : ${ideas}">
		<div class="row mb-2" th:data-call-id="${idea.callForIdeasId}">
			<div class="col-md-12 col-lg-5 ms-4 me-auto">
				<div class="card shadow-sm" id="cardIdeas">
					<div class="card-header">
						<div class="d-flex justify-content-start">
							<p class="card-text h5" th:text="${idea.creator.username}"></p>
						</div>
						<div class="d-flex justify-content-between">
							<p class="card-text text-muted" th:text="${#dates.format(idea.dateCreated, 'dd/MM/yyyy, HH:mm')}">Date</p>
							<div th:if="${currentMembership != null}">
								<button class="btn btn-outline-secondary text-danger like-btn"
										th:data-idea-id="${idea.id}"
										th:data-liked="${idea.liked}"
										th:classappend="${idea.liked ? 'btn-primary' : ''}"
								>👍 <span class="like-count" th:text="${idea.likers.size()}"></span></button>
							</div>
							<div th:if="${currentMembership == null}">
								<button class="btn btn-outline-secondary text-danger"
								>👍 <span class="like-count" th:text="${idea.likers.size()}"></span></button>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<div class="bg-info rounded-3 p-1">
								<i class="bi bi-tag"></i>
								<span th:text="${idea.subTheme.subThemeName}"></span>
							</div>
						</div>
					</div>
					<div class="card-footer" th:with="maxLength=100" th:if="${idea.getContent!=null}">
						<p class="card-text"
						   th:text="${#strings.length(idea.getContent) > maxLength ? #strings.substring(idea.getContent, 0, maxLength) + '...' : idea.getContent}"
						></p>
						<img class="d-block w-100" alt="ideaImage"
							 th:src="${idea.image}"
						/>
						<br sec:authorize="hasRole('YOUTH_COUNCIL_MODERATOR')" >
						<button sec:authorize="hasRole('YOUTH_COUNCIL_MODERATOR')" th:data-idea-id="${idea.id}" class="btn btn-danger removeButton">remove post</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</div>

<br>
<div class="container">
	<a th:href="@{/call-for-ideas}">
		<button class="btn btn-primary" id="goBack"> Go Back</button>
	</a>
</div>





<div th:insert="~{fragments/fragments::footer}">Footer</div>

</body>
</html>
