@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


body {
    background-image: url("/images/platform/backgroundMagenta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*body {*/
/*    background: linear-gradient(to bottom, #476ff4, #954588)*/
/*}*/


h5 {
    font-family: 'Bungee';
    background-color: yellow;
    width: 80%;
    margin: 0 auto;
    border: 3px solid #333;
    padding: 10px;
    border-radius: 4px;
}

div, p, input {
    font-family: 'Open Sans';
}
