@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  background: linear-gradient(to bottom, #476ff4, #954588)
}

h2 {
  font-family: 'Bungee';
  background-color: yellow;
  width: 60%;
  margin: 0 auto;
  border: 3px solid #333;
  padding: 10px;
  border-radius: 4px;
}

label , p {
  font-family: "Open Sans";
}

.container {
  padding-top: 40px;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.invalid-feedback {
  color: red;
}

.btn {
  margin-top: 10px;
}

.toast {
  position: fixed;
  top: 80%;
  right: 5%;
  z-index: 1000;
}
