<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title th:text="${municipality.name}"></title>
	<script sec:authorize="hasRole('ADMINISTRATOR')" th:src="@{/js/municipality/addMember.js}" type="module"></script>
</head>

<body>
<p class="visually-hidden mu-id" th:data-municipality-id="${municipality.id}"></p>
<th:block th:insert="~{fragments/fragments::nav}" />
<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div aria-atomic="true" aria-live="assertive" class="toast align-items-center text-white bg-danger border-0"
		 role="alert"
	>
		<div class="d-flex">
			<div class="toast-body">
				An error occurred while processing your request.
			</div>
			<button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
		</div>
	</div>
</div>
<div class="container">
	<h1 class="my-5">Municipality Details</h1>
	<div class="row">
		<div class="col-md-6">
			<h2>Members of Council</h2>
			<button class="btn btn-primary" data-bs-target="#addMemberModal" data-bs-toggle="modal" type="button">
				Add
				Member
			</button>
			<ul id="member-list" class="user-list list-group my-4">
				<th:block th:each="member: ${municipality.getMembers()}">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span th:text="${member.getFirstName()} + ' ' + ${member.getSurname()}"></span>
						<a class="btn btn-primary btn-sm" id="view-details" th:data-bs-target="'#userDetailsModal-' + ${member.getId()}" data-bs-toggle="modal">View Details</a>
					</li>
				</th:block>
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Postcodes of Municipality</h2>
			<ul class="list-group my-4">
				<th:block th:each="postcode: ${municipality.postcodes}">
					<li class="list-group-item" th:text="${postcode.postcode}"></li>
				</th:block>
			</ul>
		</div>
	</div>
</div>

<!-- Add Member Modal -->
<div aria-hidden="true" aria-labelledby="addMemberModalLabel" class="modal fade" id="addMemberModal"
	 tabindex="-1"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addMemberModalLabel">Add Youth Council Member</h5>
				<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
			</div>
			<div class="modal-body">
				<form class="d-flex flex-column align-items-start gap-3">
					<div class="input-group has-validation">
						<div class="form-floating">
							<input class="form-control" id="firstName" placeholder="Enter First Name" type="text">
							<label class="form-label" for="firstName">First Name</label>
						</div>
						<div class="invalid-feedback" id="firstName-err"></div>
					</div>
					<div class="input-group has-validation">
						<div class="form-floating">
							<input class="form-control" id="surname" placeholder="Enter Surname" type="text">
							<label class="form-label" for="surname">Surname</label>
						</div>
						<div class="invalid-feedback" id="surname-err"></div>
					</div>
					<div class="input-group has-validation">
						<div class="form-floating">
							<input class="form-control" id="email" placeholder="Enter Email" type="email">
							<label class="form-label" for="email">Email</label>
						</div>
						<div class="invalid-feedback" id="email-err"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
				<button class="btn btn-primary" id="add-member-btn" type="button">Add Member</button>
			</div>
		</div>
	</div>
</div>


<!--USER DETAILS MODAL-->
<th:block th:each="member: ${municipality.getMembers()}">
	<div class="modal fade" th:id="'userDetailsModal-' + ${member.getId()}" tabindex="-1" role="dialog" aria-labelledby="userDetailsModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close ms-auto" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="mb-3">
						<label for="name" class="form-label">First Name</label>
						<input type="text" class="form-control" id="name" th:value="${member.getFirstName()}" disabled>
					</div>
					<div class="mb-3">
						<label for="surname-detail" class="form-label">Surname</label>
						<input type="text" class="form-control" id="surname-detail" th:value="${member.getSurname()}" disabled>
					</div>
					<div class="mb-3">
						<label for="username-detail" class="form-label">Username</label>
						<input type="text" class="form-control" id="username-detail" th:value="${member.getUsername()}" disabled>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email-detail" th:value="${member.getEmail()}" disabled>
					</div>
					<div class="mb-3">
						<label for="role" class="form-label">Role</label>
						<input type="text" class="form-control" id="role" th:value="${member.getRole()}" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>