<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>
<div class="container-fluid">
	<div class="row" style="margin-left: 30px">
		<div class="col-md-6">
			<h1 class="mt-5">Join a Youth Council Today</h1>
			<p class="lead">Be up to date with your municipality's latest installments</p>
			<p class="lead">Inspire with your ideas, you can make a change</p>
			<p class="lead">Learn more about voting</p>
			<a class="btn btn-primary mt-3" href="/sign-up">Join Now</a>
		</div>
		<div class="col-md-6">
			<img alt="Youth Council" class="img-fluid" th:src="@{/images/platform/debattle.webp}">
		</div>
	</div>
</div>

<div class="container mt-5">
	<h2>Why Join a Youth Council?</h2>
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-3">
				<img alt="Let your voice be heard image" class="card-img-top" th:src="@{/images/platform/be-heard.png}">
				<div class="card-body">
					<h5 class="card-title">Be Heard</h5>
					<p class="card-text">Join a Youth Council to have your voice heard and make a difference in your
										 community.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3">
				<img alt="Community" class="card-img-top" th:src="@{/images/platform/community.png}">
				<div class="card-body">
					<h5 class="card-title">Meet New People</h5>
					<p class="card-text">Join a Youth Council to meet like-minded people and make new friends
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-3">
				<img alt="..." class="card-img-top" th:src="@{/images/platform/work-together.png}">
				<div class="card-body">
					<h5 class="card-title">Develop Skills</h5>
					<p class="card-text">Join a Youth Council to develop leadership, communication, and teamwork
										 skills.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
