<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Dashboard</title>
</head>
<body>
<div th:insert="~{fragments/fragments::nav}">My navbar</div>
<div class="row block">
	<div>
		<div class="card text-center">
			<div class="card-body">
				<i class="bi bi-building h1"></i>
				<h5 class="card-title">Municipalities</h5>
				<p class="card-text">View/Edit Municipality Data, Add New Municipality, Remove Municipality</p>
				<a class="btn btn-primary" th:href="@{/dashboard/municipalities}">Go to Municipalities</a>
			</div>
		</div>
	</div>
</div>
<div class="row block">
	<div>
		<div class="card text-center">
			<div class="card-body">
				<i class="bi bi-bar-chart h1"></i>
				<h5 class="card-title">Analytics</h5>
				<p class="card-text">View Analytics Data, Generate Reports, Manage Data Sources</p>
				<a class="btn btn-primary" href="#">Go to Analytics</a>
			</div>
		</div>
	</div>
</div>
<div class="row block">
	<div>
		<div class="card text-center">
			<div class="card-body">
				<i class="bi bi-palette h1"></i>
				<h5 class="card-title">Themes</h5>
				<p class="card-text">Customize Theme Settings</p>
				<a class="btn btn-primary" href="/dashboard/themes">Go to Themes</a>
			</div>
		</div>
	</div>
</div>
<div class="row block">
	<div>
		<div class="card text-center">
			<div class="card-body">
				<i class="bi bi-newspaper h1"></i>
				<h5 class="card-title">Page Templates</h5>
				<p class="card-text">Customize Templates for Municipalities</p>
				<a class="btn btn-primary" href="/dashboard/page-templates">Go to Page Templates</a>
			</div>
		</div>
	</div>
</div>
<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
