<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="~{fragments/fragments :: meta_script_link}"></th:block>
	<title>Page Templates Overview</title>
	<script th:src="@{/js/page-templates/pageTemplates.js}" type="module"></script>
</head>
<body>
<th:block th:include="~{fragments/fragments :: nav}"></th:block>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div aria-atomic="true" aria-live="assertive"
		 class="toast success-toast align-items-center text-white bg-success border-0"
		 role="alert"
	>
		<div class="d-flex">
			<div class="toast-body">
				Delete successful.
			</div>
			<button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
		</div>
	</div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div aria-atomic="true" aria-live="assertive"
		 class="toast error-toast align-items-center text-white bg-danger border-0"
		 role="alert"
	>
		<div class="d-flex">
			<div class="toast-body">
				An error occurred while processing your request.
			</div>
			<button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
		</div>
	</div>
</div>
<div class="container">
	<h1>Page Template Overview</h1>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr class="page-template" th:data-page-template-id="${pageTemplate.id}"
			th:each="pageTemplate, iter : ${pageTemplates}"
		>
			<td th:text="${pageTemplate.name}"></td>
			<td>
				<a class="btn btn-primary" th:href="@{/dashboard/page-templates/{uuid}(uuid=${pageTemplate.uuid})}"
				>Edit</a>
				<button class="btn btn-danger delete-page-template-btn" th:data-page-template-id="${pageTemplate.id}">
					Delete
				</button>
			</td>
		</tr>
		</tbody>
	</table>
	<button class="btn btn-success" data-bs-target="#addPageTemplateModal" data-bs-toggle="modal">Create New Template
	</button>
</div>
<div aria-hidden="true" aria-labelledby="addPageTemplateModalLabel" class="modal fade"
	 id="addPageTemplateModal" role="dialog" tabindex="-1"
>
	>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addActionPointModalLabel">Add Page Template</h5>
				<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
			</div>
			<div class="modal-body">
				<form class="p-3 edit-page-template-form">
					<div class="input-group has-validation">
						<div class="validation-container form-floating name-err">
							<input class="validation form-control form-control-lg name-field-err"
								   id="name"
								   name="name"
							/>
							<label class="form-label" for="name">Template Name</label>
						</div>
						<div class="name-invalid-feedback invalid-feedback">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
				<button class="btn btn-primary submit-btn" id="add-member-btn" type="button">Add Template
				</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>