<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  style="min-height: 100%; position: relative">
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Forms</title>
	<script defer src="/js/form/forms.js" type="module"></script>
	<link rel="stylesheet" th:href="@{/css/municipality-forms/municipality-forms.css}">

</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>
<div>
	<div>
		<h2 class="text-center mt-4 mb-4">Forms</h2>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			Form ID
		</div>
		<div class="col">
			Form Title
		</div>
	</div>
	<div class="rows">
		<div class="row" th:each="form: ${forms}">
			<a class="col ID" th:href="@{/form(formId=${form.id})}" th:text="${form.id}">
			</a>
			<div class="col title" th:text="${form.title}" ></div>
		</div>
	</div>
	<br>
	<button type="button" class="btn btn-primary numericInputButton create">New</button>
</div>
<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
