<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<title>Form</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<script defer src="/js/form/form.js" type="module"></script>
	<link rel="stylesheet" th:href="@{/css/municipality-forms/municipality-form.css}">
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>

<div class="container textInput">
	<h6 style="text-align: center; font-weight: bold;">Text Input Questions</h6>
	<div class="row">
		<div class="col">Question ID</div>
		<div class="col">Question Title</div>
		<div class="col">Order</div>
		<div class="col">Is Required</div>
	</div>
	<div class="rows">
		<div class="row" th:each="textQuestion: ${textQuestions}">
			<div class="col ID" th:text="${textQuestion.id}"></div>
			<div class="col text" th:text="${textQuestion.questionText}"></div>
			<div class="col questionOrder" th:text="${textQuestion.questionOrder}"></div>
			<div class="col isRequired" th:text="${textQuestion.required}"></div>
		</div>
	</div>
	<div class="button-container">
		<button type="button" class="btn btn-primary textInputButton create">New</button>
	</div>
</div>

<div class="container numericInput">
	<h6 style="text-align: center; font-weight: bold;">Numeric Input Questions</h6>
	<div class="row">
		<div class="col">Question ID</div>
		<div class="col">Question Title</div>
		<div class="col">Order</div>
		<div class="col">Is Required</div>
	</div>
	<div class="rows">
		<div class="row" th:each="numericQuestion: ${numericQuestions}">
			<div class="col ID" th:text="${numericQuestion.id}"></div>
			<div class="col text" th:text="${numericQuestion.questionText}"></div>
			<div class="col questionOrder" th:text="${numericQuestion.questionOrder}"></div>
			<div class="col isRequired" th:text="${numericQuestion.required}"></div>
		</div>
	</div>
	<div class="button-container">
		<button type="button" class="btn btn-primary numericInputButton create">New</button>
	</div>
</div>

<div class="container radio">
	<h6 style="text-align: center; font-weight: bold;">Radio Questions</h6>
	<div class="row">
		<div class="col">Question ID</div>
		<div class="col">Question Title</div>
		<div class="col">Order</div>
		<div class="col">Is Required</div>
		<div class="col">Choices</div>
	</div>
	<div class="rows">
		<div class="row" th:each="radioQuestion: ${radioQuestions}">
			<div class="col ID" th:text="${radioQuestion.id}"></div>
			<div class="col text" th:text="${radioQuestion.questionText}"></div>
			<div class="col questionOrder" th:text="${radioQuestion.questionOrder}"></div>
			<div class="col isRequired" th:text="${radioQuestion.required}"></div>
			<div class="col choices" th:text="${radioQuestion.getChoices()}"></div>
		</div>
	</div>
	<div class="button-container">
		<button type="button" class="btn btn-primary radioButton create">New</button>
	</div>
</div>

<div class="container choice">
	<h6 style="text-align: center; font-weight: bold;">Multiple Choice Questions</h6>
	<div class="row">
		<div class="col">Question ID</div>
		<div class="col">Question Title</div>
		<div class="col">Order</div>
		<div class="col">Is Required</div>
		<div class="col">Choices</div>
	</div>
	<div class="rows">
		<div class="row" th:each="choiceQuestion: ${choiceQuestions}">
			<div class="col ID" th:text="${choiceQuestion.id}"></div>
			<div class="col text" th:text="${choiceQuestion.questionText}"></div>
			<div class="col questionOrder" th:text="${choiceQuestion.questionOrder}"></div>
			<div class="col isRequired" th:text="${choiceQuestion.required}"></div>
			<div class="col choices" th:text="${choiceQuestion.getChoices()}"></div>
		</div>
	</div>
	<div class="button-container">
		<button type="button" class="btn btn-primary choiceButton create">New</button>
	</div>
</div>

<div class="goBack-button-container">
	<a th:href="@{/forms}">
		<button type="button" id="goBackBtn" class="btn btn-dark go-back-button">Go Back</button>
	</a>
</div>
<br>
<br>
<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
