<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script defer src="/js/form/user-form.js" type="module"></script>
	<style>
		.col {
			border:1px solid gray;
		}
		.checkbox {
			height: 45px;
		}
	</style>
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>
	<br>
	<div class="container userTable">
		<h6>Questions</h6>
		<br>
		<form class="rows">
			<div class="row" th:each="textQuestion: ${textQuestions}">
				<div class="col questionOrder invisible" th:text="${textQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${textQuestion.required}" />
				<div class="col questionId invisible" th:text="${textQuestion.id}" />
				<h6 class="text" th:text="${textQuestion.questionText}" />
				<input name="title" type="text" th:id="${textQuestion.id}" class="form-control col questionText" required>
				<br>
			</div>
			<div class="row" th:each="numericQuestion: ${numericQuestions}">
				<div class="col questionOrder invisible" th:text="${numericQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${numericQuestion.required}" />
				<div class="col questionId invisible" th:text="${numericQuestion.id}" />
				<h6 class="text" th:text="${numericQuestion.questionText}" />
				<input name="title" type="number" th:id="${numericQuestion.id}" class="form-control col questionText" required>
				<br>
			</div>
			<div class="row" th:each="radioQuestion: ${radioQuestions}">
				<div class="col questionOrder invisible" th:text="${radioQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${radioQuestion.required}" />
				<div class="col questionId invisible" th:text="${radioQuestion.id}" />
				<h6 class="text" th:text="${radioQuestion.questionText}" />
				<input name="choices" type="radio" th:each="choice : ${radioQuestion.choices}" th:id="${choice}" th:text="${choice}"  class="">
				<br>
			</div>
			<div class="row" th:each="choiceQuestion: ${choiceQuestions}">
				<div class="col questionOrder invisible" th:text="${choiceQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${choiceQuestion.required}" />
				<div class="col questionId invisible" th:text="${choiceQuestion.id}" />
				<h6 class="text" th:text="${choiceQuestion.questionText}" />
				<input name="choices" type="checkbox" th:each="choice : ${choiceQuestion.choices}" th:id="${choice}" th:text="${choice}"  class="">
				<br>
			</div>
			<br>
			<button type="button" class="btn btn-success submit">submit</button>
		</form>
	</div>


</body>
</html>