<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  style="min-height: 100%; position: relative">
<head>
	<title>Form</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<script defer src="/js/form/user-form.js" type="module"></script>
	<link rel="stylesheet" th:href="@{/css/municipality-forms/municipality-user-form.css}">
</head>
<body>
<th:block th:insert="~{fragments/fragments::nav}"></th:block>
	<br>
	<div class="container userTable">
		<h6>Questions</h6>
		<br>
		<form class="rows">
			<div class="row" th:each="textQuestion: ${textQuestions}">
				<div class="col questionOrder invisible" th:text="${textQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${textQuestion.required}" />
				<div class="col questionId invisible" th:text="${textQuestion.id}" />
				<h6 class="text" th:text="${textQuestion.questionText}" />
				<input name="title" type="text" th:id="${textQuestion.id}" class="form-control col questionText" required>
				<br>
			</div>
			<div class="row" th:each="numericQuestion: ${numericQuestions}">
				<div class="col questionOrder invisible" th:text="${numericQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${numericQuestion.required}" />
				<div class="col questionId invisible" th:text="${numericQuestion.id}" />
				<h6 class="text" th:text="${numericQuestion.questionText}" />
				<input name="title" type="number" th:id="${numericQuestion.id}" class="form-control col questionText" required>
				<br>
			</div>
			<div class="row" th:each="radioQuestion: ${radioQuestions}">
				<div class="col questionOrder invisible" th:text="${radioQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${radioQuestion.required}" />
				<div class="col questionId invisible" th:text="${radioQuestion.id}" />
				<h6 class="text" th:text="${radioQuestion.questionText}" />
				<div class="radio-options">
					<label th:each="choice, i : ${radioQuestion.choices}" class="radio-option">
						<input name="choices" type="radio" th:id="${choice}" th:value="${choice}" class="radio-input">
						<span class="radio-label" th:text="${choice}"></span>
					</label>
				</div>
			</div>
			<div class="row" th:each="choiceQuestion: ${choiceQuestions}">
				<div class="col questionOrder invisible" th:text="${choiceQuestion.questionOrder}" />
				<div class="col questionRequired invisible" th:text="${choiceQuestion.required}" />
				<div class="col questionId invisible" th:text="${choiceQuestion.id}" />
				<h6 class="text" th:text="${choiceQuestion.questionText}" />
				<input name="choices" type="checkbox" th:each="choice : ${choiceQuestion.choices}" th:id="${choice}" th:text="${choice}"  class="">
				<br>
			</div>
			<br>
			<button type="button" class="btn btn-success submit">Submit</button>
		</form>
	</div>
<br>
<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>
