<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Action Points</title>
	<link rel="stylesheet" th:href="@{/css/action-points/action-point.css}">
	<script defer th:src="@{js/action-points/actionPoint.js}" type="module"></script>
</head>
<body>
<th:block th:insert="~{fragments/fragments::platformNav}"></th:block>
<!--error toast-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div aria-atomic="true" aria-live="assertive" class="toast align-items-center text-white bg-danger border-0"
		 role="alert"
	>
		<div class="d-flex">
			<div class="toast-body">
				An error occurred while processing your request.
			</div>
			<button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
		</div>
	</div>
</div>
<div class="container my-5">
	<th:block th:each="actionPoint, iter : ${actionPoints}">
		<div class="row mb-4">
			<div class="action-point col-md-8 col-lg-6 mx-auto" th:data-action-point-id="${actionPoint.id}">
				<div class="card shadow-sm">
					<div class="card-header">
						<p class="card-text" th:text="${actionPoint.dateCreated}">Date</p>
						<h3 class="card-title mb-0" th:text="${actionPoint.title}">Action Point Title</h3>
					</div>
					<div class="card-body">
						<div class="carousel" data-interval="false" th:id="'carouselIndicator'+${iter.index}">
							<div class="carousel-inner">
								<th:block th:each="image,iter : ${actionPoint.images}">
									<div class="carousel-item" th:classappend="${iter.index == 0} ? 'active'">
										<img class="d-block w-100" th:alt="'Picture ' + ${iter.index + 1}"
											 th:src="${image}"
										>
									</div>
								</th:block>
							</div>
							<a class="carousel-control-prev" data-bs-slide="prev"
							   role="button"
							   th:href="'#carouselIndicator'+${iter.index}"
							>
								<span aria-hidden="true" class="carousel-control-prev-icon"></span>
								<span class="visually-hidden">Previous</span>
							</a>
							<a class="carousel-control-next" data-bs-slide="next"
							   role="button"
							   th:href="'#carouselIndicator'+${iter.index}"
							>
								<span aria-hidden="true" class="carousel-control-next-icon"></span>
								<span class="visually-hidden">Next</span>
							</a>
						</div>
						<hr>
						<div class="d-flex justify-content-between">
							<div>
								<button class="btn follow-btn"
										th:classappend="${actionPoint.followed ? 'btn-danger' : 'btn-outline-primary'}"
										th:data-action-point-id="${actionPoint.id}"
										th:data-followed="${actionPoint.followed}"
										th:text="${!actionPoint.followed ? 'Follow' : 'Unfollow'}"
								>Follow
								</button>
								<p class="card-text">Followers: <span class="follow-count"
																	  th:text="${actionPoint.followCount}"
								></span></p>
							</div>
							<div>
								<button class="btn btn-outline-secondary like-btn"
										th:classappend="${actionPoint.liked ? 'btn-primary' : ''}"
										th:data-action-point-id="${actionPoint.id}"
										th:data-liked="${actionPoint.liked}"
										th:text="'👍'"
								></button>
								<p class="card-text">Likes: <span class="like-count" th:text="${actionPoint.likeCount}"
								></span></p>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<p class="card-text" th:text="${actionPoint.description}"></p>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</div>
</body>
</html>