<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--	  xmlns="http://www.w3.org/1999/xhtml"-->
<!--	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--	  xmlns:th="http://www.thymeleaf.org"-->
<!--&gt;-->
<!--<head>-->
<!--	<th:block th:fragment="meta_script_link" th:remove="tag">-->
<!--		<title>Calendar of Activities</title>-->
<!--		<meta charset="UTF-8" />-->
<!--		<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--		<link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" />-->
<!--		<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">-->
<!--		<link rel="stylesheet" th:href="@{/css/activities-calendar/calendar.css}">-->
<!--	</th:block>-->
<!--</head>-->
<!---->
<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Calendar of Activities</title>
	<meta charset="UTF-8"/>
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
	<link rel="stylesheet" th:href="@{/css/activities-calendar/calendar.css}">
</head>

<body class="gradient-custom-5"> <!--remove class to remove background color-->
<h2 class="text-center">Calendar of Activities</h2>
<div class="container py-5">
	<div class="row">
		<div class="col-md-12">
			<div id="content">
				<ul class="timeline-1 text-black">
					<li class="event" th:each="activity : ${activities}">
						<h4 class="mb-3" th:text="${activity.title}">Event Title</h4>
						<p class="time" th:text="${activity.date}">Event Date</p>
						<p th:text="${activity.description}">Event Description</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>