<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Calendar of Activities</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<link rel="stylesheet" th:href="@{/css/activities-calendar/calendar.css}">
	<script defer th:src="@{/js/activities-calendar/yca-actions.js}" type="module"></script>
</head>

<div th:insert="~{fragments/fragments::nav}">My navbar</div>

<body class="gradient-custom-5">
<h2 class="text-center">Calendar of Activities</h2>
<div class="container py-5">
	<div class="row">
		<div class="col-md-12">
			<div class="d-flex justify-content-between mb-3">
				<div class="d-flex gap-3"
					 th:if="${currentMembership != null && currentMembership.role == T(be.kdg.finalproject.domain.security.Role).YOUTH_COUNCIL_ADMINISTRATOR}"
				>
					<button type="button" class="btn btn-outline-primary" id="add-activity-button">Add</button>
				</div>
			</div>
			<div id="content">
				<ul class="timeline-1 text-black">
					<li class="event" th:id="${activity.id}" th:each="activity : ${activities}">
						<div class="d-flex gap-3"
							 th:if="${currentMembership != null && currentMembership.role == T(be.kdg.finalproject.domain.security.Role).YOUTH_COUNCIL_ADMINISTRATOR}"
						>
							<button type="button" class="btn btn-outline-primary" th:data-activity-id="${activity.id}"
									th:id="'edit-activity-'+${activity.id}"
							>Edit
							</button>
							<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
									data-bs-target="#deleteModal" th:data-activity-id="${activity.id}"
									th:id="'delete-activity-'+${activity.id}"
							>Delete
							</button>
						</div>
						<div class="d-flex justify-content-between mb-3">
							<h4 class="mb-3" id="title" th:text="${activity.title}">Event Title</h4>
						</div>
						<p class="time">
							<span class="date" id="date" th:text="${#temporals.format(activity.date, 'dd/MM/yyyy')}"
							></span>
							<br />
<!--							<span th:text="${#temporals.format(activity.startTime, 'HH:mm')}" id="start-time"-->
<!--								  th:remove="tag"></span> - -->
<!--							<span th:text="${#temporals.format(activity.endTime, 'HH:mm')}" id="end-time"-->
<!--								  th:remove="tag"></span>-->

						<div class="form-group">
							<label for="start-time">From:</label>
							<input type="time" class="form-control" id="start-time" th:value="${#temporals.format(activity.startTime, 'HH:mm')}" readonly/>
						</div>
						<div class="form-group">
							<label for="end-time">Till:</label>
							<input type="time" class="form-control" id="end-time" th:value="${#temporals.format(activity.endTime, 'HH:mm')}" readonly/>
						</div>
						</p>
						<p th:text="${activity.description}" id="description">Event Description</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--MODAL FOR DELETE-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Activity</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this activity?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>

