<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8"/>
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
	<link rel="stylesheet"  th:href="@{/css/activities-calendar/calendar.css}">
</head>

<body class="gradient-custom-5"> <!--remove class to remove background color-->

<!--HARDCODED ACTIVITIES-->
<!--<div class="container py-5">-->
<!--	<div class="row">-->
<!--		<div class="col-md-12">-->
<!--			<div id="content">-->
<!--				<ul class="timeline-1 text-black">-->
<!--					<li class="event" data-date="24th June, 2023">-->
<!--						<h4 class="mb-3">Elections of ideas</h4>-->
<!--						<p class="time">12:30 - 1:00pm</p>-->
<!--						<p>The youth council decides by taking all ideas into account</p>-->
<!--					</li>-->
<!--					<li class="event" data-date="24th June, 2023">-->
<!--						<h4 class="mb-3 pt-3">Announcement of Elections</h4>-->
<!--						<p class="time">2:30 - 4:00pm</p>-->
<!--						<p>Results of the elections are displayed on the website.</p>-->
<!--					</li>-->
<!--					<li class="event" data-date="24th June, 2023">-->
<!--						<h4 class="mb-3 pt-3">Youth Council Meetup</h4>-->
<!--						<p class="time">5:00 - 8:00pm</p>-->
<!--						<p>All members of the youth council are invited to meetup at the city park for a chat and drink!</p>-->
<!--					</li>-->
<!--					<li class="event" data-date="24th June, 2023">-->
<!--						<h4 class="mb-3 pt-3">Clean up the city event</h4>-->
<!--						<p class="time">8:30 - 9:30pm</p>-->
<!--						<p class="mb-0">An organized cleanup of the city. Meeting is at the town hall.</p>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--END OF HARDCODED ACTIVITIES-->


<!--USING FOR EACH LOOP TO DISPLAY ALL ACTIVITIES SEEDED INTO DATABASE-->
<div class="container py-5">
	<div class="row">
		<div class="col-md-12">
			<div id="content">
				<ul class="timeline-1 text-black">
					<li class="event" th:each="activity : ${activities}">
						<h4 class="mb-3" th:text="${activity.title}">Event Title</h4>
						<p class="time" th:text="${activity.date}">Event Date</p>
						<p th:text="${activity.description}">Event Description</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

</body>
</html>