<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>

<head>
	<meta charset="UTF-8">
	<title>SuperUserManagement</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<script defer src="/js/management/user-management-max.js"></script>
	<script defer src="/js/management/super-user-management.js"></script>
</head>
<body>
<h4>Youth Council Administrators</h4>
<table class="table table-striped table-bordered table-sm" id="dtVerticalScroll1">
	<thead>
	<tr>
		<th class="th-sm">UserName
		</th>
		<th class="th-sm">Email
		</th>
		<th class="th-sm">Details
		</th>
		<th class="th-sm">Delete
		</th>
	</tr>
	</thead>
	<tbody class="tbodyUsers">
	<tr th:data-user-id="${YCadmin.id}" th:each="YCadmin: ${YCAdmins}">
		<td class="usernameUser" th:text="${YCadmin.username}" />
		<td class="emailUser" th:text="${YCadmin.email}" />
		<td>
			<a th:href="@{/users/{userId}(userId=${YCadmin.id})}">
				<button class="btn btn-primary detailsButton" type="button">Details</button>
			</a>

		</td>
		<td>
			<button class="btn btn-danger deleteButton" type="button">Delete</button>
		</td>
	</tr>
	</tbody>
</table>

<h4>Youth Council Moderators</h4>
<table class="table table-striped table-bordered table-sm" id="dtVerticalScroll2">
	<thead>
	<tr>
		<th class="th-sm">UserName
		</th>
		<th class="th-sm">Email
		</th>
		<th class="th-sm">Details
		</th>
		<th class="th-sm">Delete
		</th>
	</tr>
	</thead>
	<tbody class="tbodyUsers">
	<tr th:data-user-id="${YCmoderator.id}" th:each="YCmoderator: ${YCModerators}">
		<td class="usernameUser" th:text="${YCmoderator.username}" />
		<td class="emailUser" th:text="${YCmoderator.email}" />
		<td>
			<a th:href="@{/users/{userId}(userId=${YCmoderator.id})}">
				<button class="btn btn-primary detailsButton" type="button">Details</button>
			</a>

		</td>
		<td>
			<button class="btn btn-danger deleteButton" type="button">Delete</button>
		</td>
	</tr>
	</tbody>
</table>

<div class="container">
	<div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
		<div class="panel border bg-white">
			<div class="panel-body p-3">
				<form class="my-3 d-flex flex-column align-items-start gap-3 userForm" method="post"
					  th:action="@{/register}"
					  th:object="${user}"
				>
					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('firstName')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="Jeff" th:class="${#fields.hasErrors('firstName')?
    				   						'form-control form-control-lg is-invalid ':
    				   						'form-control form-control-lg border-3 '}"
								   th:field="*{firstName}"
								   type="text"
							/>
							<label class="form-label" th:for="firstName">First Name</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('firstName')}"
							 th:text="${#fields.errors('firstName').get(0).toString()}"
						></div>
					</div>
					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('surname')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="Bezos" th:class="${#fields.hasErrors('surname')?
    				   						'form-control form-control-lg is-invalid ':
    				   						'form-control form-control-lg border-3 '}"
								   th:field="*{surname}"
								   type="text"
							/>
							<label class="form-label" th:for="surname">Surname</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('surname')}"
							 th:text="${#fields.errors('surname').get(0).toString()}"
						></div>
					</div>

					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('username')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="username" th:class="${#fields.hasErrors('username')?
    				   						'form-control form-control-lg is-invalid ':
    				   						'form-control form-control-lg border-3 '}"
								   th:field="*{username}"
								   type="text"
							/>
							<label class="form-label" th:for="username">Username</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('username')}"
							 th:text="${#fields.errors('username').get(0).toString()}"
						></div>
					</div>

					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('postcode')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="2000" th:class="${#fields.hasErrors('postcode')?
    				   						'form-control form-control-lg is-invalid ':
    				   						'form-control form-control-lg border-3 '}"
								   th:field="*{postcode}"
								   type="number"
							/>
							<label class="form-label" th:for="postcode">Postcode</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('postcode')}"
							 th:text="${#fields.errors('postcode').get(0).toString()}"
						></div>
					</div>

					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('email')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="E-mail" th:class="${#fields.hasErrors('email')?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
								   th:field="*{email}"
							/>
							<label class="form-label" th:for="name">Email</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('email')}"
							 th:text="${#fields.errors('email').get(0).toString()}"
						></div>
					</div>


					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('password')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="Password" th:class="${#fields.hasErrors('password')?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
								   th:field="*{password}"
								   type="password"
							/>
							<label class="form-label" th:for="password">Password</label>
						</div>
						<button class="btn btn-outline-secondary" id="button-show-password" type="button">
							<i class="bi bi-eye"></i>
						</button>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('password')}"
							 th:text="${#fields.errors('password').get(0).toString()}"
						>
						</div>
					</div>

					<div class="input-group has-validation">
						<div th:class="${#fields.hasErrors('confirmPassword')?'form-floating is-invalid':'form-floating'}">
							<input placeholder="Confirm Password" th:class="${#fields.hasErrors('confirmPassword')?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
								   th:field="*{confirmPassword}"
								   type="password"
							/>
							<label class="form-label" th:for="confirmPassword">Confirm Password</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('confirmPassword')}"
							 th:text="${#fields.errors('confirmPassword').get(0).toString()}"
						></div>
					</div>

					<button class="btn btn-primary createModeratorButton" type="button">Create a youth council
																						MODERATOR
					</button>
					<button class="btn btn-primary createAdminButton" type="button">Create a youth council
																					ADMINISTRATOR
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>