<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Themes</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<script defer th:src="@{/js/components/ThemeCard.js}" type="module"></script>
	<script defer th:src="@{/js/components/SubThemeCard.js}" type="module"></script>
	<script defer th:src="@{/js/theme/theme.js}" type="module"></script>
</head>
<body>
<div class="container mt-4">
	<div class="row">
		<div class="col-12 text-end mb-3">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addThemeModal">
				<i class="bi bi-plus"></i> Add New Theme
			</button>
		</div>
	</div>
	<div class="accordion" id="themeAccordion">
		<div th:data-theme-id="${theme.id}" class="card card-theme" th:classappend="'theme-'+${theme.id}"
			 th:each="theme: ${themes}" th:object="${theme}"
		>
			<div th:id="'theme' + ${theme.getId()} + 'Heading'" class="card-header d-flex justify-content-between">
				<h2 class="mb-0">
					<button th:text="${theme.getThemeName()}" class="btn btn-link theme-name" type="button"
							th:data-bs-toggle="collapse" th:data-bs-target="'#theme' + ${theme.getId()} + 'Collapse'"
							aria-expanded="true" th:aria-controls="'theme' + ${theme.getId()} + 'Collapse'"
					></button>
				</h2>
				<div>
					<button type="button" class="mx-auto btn btn-primary edit-theme-btn" data-bs-toggle="modal"
							th:data-bs-target="'#editThemeModal' + ${theme.id}"
					>
						<i class="bi bi-pencil-square"></i> Edit
					</button>
					<button type="button" class="btn btn-danger delete-theme-btn" data-bs-toggle="modal"
							th:data-bs-target="'#deleteThemeModal' + ${theme.id}"
					>
						<i class="bi bi-trash"></i> Delete
					</button>
				</div>
			</div>
			<div th:id="'theme' + ${theme.getId()} + 'Collapse'" class="collapse show"
				 th:aria-labelledby="'theme' + ${theme.getId()} + 'Heading'" th:data-bs-parent="'#themeAccordion'"
			>
				<div class="card-body">
					<ul class="subtheme-list">
						<li th:class="'subtheme-item-'+${subtheme.id}" th:each="subtheme: ${theme.getSubThemes()}"
							th:object="${subtheme}"
						>
							<div class="card subtheme-card">
								<div class="card-body">
									<h5 class="card-title" th:text="${subtheme.subThemeName}"></h5>
									<div class="d-flex justify-content-between">
										<button type="button" class="btn btn-primary edit-subtheme-btn"
												th:data-bs-toggle="modal"
												th:data-bs-target="'#editSubThemeModal' + ${subtheme.id}"
										>
											<i class="bi bi-pencil-square"></i> Edit
										</button>
										<button type="button" class="btn btn-danger delete-subtheme-btn"
												th:data-theme-id="${theme.id}" th:data-subtheme-id="${subtheme.id}"
										>
											<i class="bi bi-trash"></i> Delete
										</button>
									</div>
								</div>
							</div>


							<div class="modal subtheme-modal fade" th:id="'editSubThemeModal' + ${subtheme.id}"
								 tabindex="-1"
								 th:aria-labelledby="'editSubThemeModalLabel' + ${subtheme.id}" aria-hidden="true"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" th:id="'editSubThemeModalLabel' + ${subtheme.id}">
												Edit Subtheme</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"
											></button>
										</div>
										<div class="modal-body">
											<form>
												<div class="mb-3">
													<label for="subthemeName" class="form-label">Subtheme Name</label>
													<input type="text" class="form-control"
														   th:id="'subthemeName'+${subtheme.id}"
														   th:value="${subtheme.subThemeName}"
													/>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
												Cancel
											</button>
											<button type="button" class="btn btn-primary save-subtheme-changes-btn"
													th:data-subtheme-id="${subtheme.id}"
											>Save Changes
											</button>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<button th:id="${theme.id}" type="button" class="btn btn-primary add-subtheme-btn"
							data-bs-toggle="modal" data-bs-target="#addSubThemeModal"
					>
						<i class="bi bi-plus"></i> Add New Subtheme
					</button>


				</div>
			</div>
			<!-- Delete Theme Modal -->
			<div class="modal theme-modal fade" th:id="'deleteThemeModal' + ${theme.id}" tabindex="-1"
				 th:aria-labelledby="'deleteThemeModalLabel' + ${theme.id}" aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" th:id="'deleteThemeModalLabel' + ${theme.id}">Delete Theme</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to delete the theme <strong th:text="${theme.getThemeName()}"
							></strong> and all its subthemes?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-danger delete-theme-confirm-btn"
									th:data-theme-id="${theme.id}"
							>Delete
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--			Edit Theme Modal-->
			<div class="modal theme-modal fade" th:id="'editThemeModal' + ${theme.id}" tabindex="-1"
				 th:aria-labelledby="'editThemeModalLabel' + ${theme.id}" aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" th:id="'editThemeModalLabel' + ${theme.id}">Edit Theme</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" th:id="'editThemeName' + ${theme.id}"
									   placeholder="Theme name" th:value="${theme.themeName}"
								>
								<label th:for="'editThemeName'+${theme.id}">Theme name</label>
								<div class="invalid-feedback" th:id="'edit-themeName-'+${theme.id}+'-error'">

									>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary edit-theme-confirm-btn"
									th:data-theme-id="${theme.id}"
							>Save changes
							</button>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>
	<!-- Add Theme Modal -->
	<div class="modal fade" id="addThemeModal" tabindex="-1" aria-labelledby="addThemeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addThemeModalLabel">Add New Theme</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="themeName" class="form-label">Theme Name</label>
						<input type="text" class="form-control" id="themeName">
						<div class="invalid-feedback" id="themeName-error">

							>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary save-theme-btn">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Add SubTheme Modal -->
	<div class="modal subtheme-modal fade" id="addSubThemeModal" tabindex="-1" aria-labelledby="addSubThemeModalLabel"
		 aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addSubThemeModalLabel">Add New Subtheme</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="subThemeName" class="form-label">Subtheme Name</label>
						<input type="text" class="form-control" id="subThemeName">
						<div class="invalid-feedback" id="subThemeName-error">

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary save-subtheme-btn">Save Changes</button>
				</div>
			</div>
		</div>
	</div>

	<!--	Error Modal-->
	<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="errorMessage"></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
