<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Themes</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<link rel="stylesheet" th:href="@{/css/themes/themes.css}">
	<script defer th:src="@{/js/components/themes/ThemeCard.js}" type="module"></script>
	<script defer th:src="@{/js/components/themes/SubThemeCard.js}" type="module"></script>
	<script defer th:src="@{/js/theme/theme.js}" type="module"></script>
</head>
<body>
<th:block th:insert="~{/fragments/fragments::platformNav}"></th:block>
<div class="container mt-4">
	<div class="row">
		<div class="col-12 text-end mb-3">
			<button class="btn btn-primary" data-bs-target="#addThemeModal" data-bs-toggle="modal" type="button">
				<i class="bi bi-plus"></i> Add New Theme
			</button>
		</div>
	</div>
	<div class="accordion theme-cards" id="themeAccordion">
		<div class="card card-theme" th:classappend="'theme-'+${theme.id}" th:data-theme-id="${theme.id}"
			 th:each="theme: ${themes}" th:object="${theme}"
		>
			<div class="card-header d-flex justify-content-between" th:id="'theme' + ${theme.id} + 'Heading'">
				<h2 class="mb-0">
					<button aria-expanded="true" class="btn btn-link theme-name"
							th:aria-controls="'theme' + ${theme.id} + 'Collapse'"
							th:data-bs-target="'#theme' + ${theme.id} + 'Collapse'" th:data-bs-toggle="collapse"
							th:text="${theme.themeName}" type="button"
					></button>
				</h2>
				<div>
					<button class="mx-auto btn btn-primary edit-theme-btn" data-bs-toggle="modal"
							th:data-bs-target="'#editThemeModal' + ${theme.id}"
							type="button"
					>
						<i class="bi bi-pencil-square"></i> Edit
					</button>
					<button class="btn btn-danger delete-theme-btn" data-bs-toggle="modal"
							th:data-bs-target="'#deleteThemeModal' + ${theme.id}"
							type="button"
					>
						<i class="bi bi-trash"></i> Delete
					</button>
				</div>
			</div>
			<div class="collapse" th:aria-labelledby="'theme' + ${theme.getId()} + 'Heading'"
				 th:data-bs-parent="'#themeAccordion'" th:id="'theme' + ${theme.getId()} + 'Collapse'"
			>
				<div class="card-body">
					<ul class="subtheme-list list-unstyled">
						<li th:class="'subtheme-item-'+${subtheme.id}" th:each="subtheme: ${theme.getSubThemes()}"
							th:object="${subtheme}"
						>
							<div class="card subtheme-card">
								<div class="card-body">
									<h5 class="card-title" th:text="${subtheme.subThemeName}"></h5>
									<div class="d-flex justify-content-between">
										<button class="btn btn-primary edit-subtheme-btn"
												th:data-bs-target="'#editSubThemeModal' + ${subtheme.id}"
												th:data-bs-toggle="modal"
												type="button"
										>
											<i class="bi bi-pencil-square"></i> Edit
										</button>
										<button class="btn btn-danger delete-subtheme-btn"
												th:data-subtheme-id="${subtheme.id}"
												th:data-theme-id="${theme.id}" type="button"
										>
											<i class="bi bi-trash"></i> Delete
										</button>
									</div>
								</div>
							</div>


							<div aria-hidden="true" class="modal subtheme-modal fade"
								 tabindex="-1"
								 th:aria-labelledby="'editSubThemeModalLabel' + ${subtheme.id}"
								 th:id="'editSubThemeModal' + ${subtheme.id}"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" th:id="'editSubThemeModalLabel' + ${subtheme.id}">
												Edit Subtheme</h5>
											<button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
													type="button"
											></button>
										</div>
										<div class="modal-body">
											<div class="mb-3">
												<label class="form-label" for="subthemeName">Subtheme Name</label>
												<input class="form-control" th:id="'subthemeName-'+${subtheme.id}"
													   th:value="${subtheme.subThemeName}"
													   type="text"
												/>
												<div class="invalid-feedback"
													 th:id="'edit-subThemeName-'+${subtheme.id}+'-error'"
												>

												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
												Cancel
											</button>
											<button class="btn btn-primary save-subtheme-changes-btn"
													th:data-subtheme-id="${subtheme.id}"
													th:data-theme-id="${theme.id}" type="button"
											>
												Save Changes
											</button>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<button class="btn btn-primary add-subtheme-btn" data-bs-target="#addSubThemeModal"
							data-bs-toggle="modal"
							th:id="${theme.id}" type="button"
					>
						<i class="bi bi-plus"></i> Add New Subtheme
					</button>


				</div>
			</div>
			<!-- Delete Theme Modal -->
			<div aria-hidden="true" class="modal theme-modal fade" tabindex="-1"
				 th:aria-labelledby="'deleteThemeModalLabel' + ${theme.id}" th:id="'deleteThemeModal' + ${theme.id}"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" th:id="'deleteThemeModalLabel' + ${theme.id}">Delete Theme</h5>
							<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to delete the theme <strong th:text="${theme.getThemeName()}"
							></strong> and all its subthemes?</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
							<button class="btn btn-danger delete-theme-confirm-btn" th:data-theme-id="${theme.id}"
									type="button"
							>Delete
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--			Edit Theme Modal-->
			<div aria-hidden="true" class="modal theme-modal fade" tabindex="-1"
				 th:aria-labelledby="'editThemeModalLabel' + ${theme.id}" th:id="'editThemeModal' + ${theme.id}"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" th:id="'editThemeModalLabel' + ${theme.id}">Edit Theme</h5>
							<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
						</div>
						<div class="modal-body">
							<div class="form-floating mb-3">
								<input class="form-control" placeholder="Theme name"
									   th:id="'edit-ThemeName-' + ${theme.id}"
									   th:value="${theme.themeName}" type="text"
								>
								<label th:for="'editThemeName'+${theme.id}">Theme name</label>
								<div class="invalid-feedback" th:id="'edit-themeName-'+${theme.id}+'-error'">

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
							<button class="btn btn-primary edit-theme-confirm-btn" th:data-theme-id="${theme.id}"
									type="button"
							>Save changes
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Add Theme Modal -->
	<div aria-hidden="true" aria-labelledby="addThemeModalLabel" class="modal fade" id="addThemeModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addThemeModalLabel">Add New Theme</h5>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label" for="themeName">Theme Name</label>
						<input class="form-control" id="themeName" type="text">
						<div class="invalid-feedback" id="themeName-error">

							>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
					<button class="btn btn-primary save-theme-btn" type="button">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Add SubTheme Modal -->
	<div aria-hidden="true" aria-labelledby="addSubThemeModalLabel" class="modal subtheme-modal fade"
		 id="addSubThemeModal"
		 tabindex="-1"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addSubThemeModalLabel">Add New Subtheme</h5>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label" for="subThemeName">Subtheme Name</label>
						<input class="form-control" id="subThemeName" type="text">
						<div class="invalid-feedback" id="subThemeName-error">

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
					<button class="btn btn-primary save-subtheme-btn" type="button">Save Changes</button>
				</div>
			</div>
		</div>
	</div>

	<!--	Error Modal-->
	<div aria-hidden="true" aria-labelledby="errorModalLabel" class="modal fade" id="errorModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error</h5>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body">
					<p id="errorMessage"></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
