<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>

<head>
	<meta charset="UTF-8">
	<title>UserManagement</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<script defer src="/js/management/user-management-max.js"></script>
</head>
<body>

<div class="container">
	<input checked class="form-check-input filterRole" id="generalUser" type="checkbox" value="">
	<label class="form-check-label" for="generalUser">
		General User
	</label>
	<br>
	<input checked class="form-check-input filterRole" id="YCAdmin" type="checkbox" value="">
	<label class="form-check-label" for="YCAdmin">
		Youth Council Administrator
	</label>
	<br>
	<input checked class="form-check-input filterRole" id="YCModerator" type="checkbox" value="">
	<label class="form-check-label" for="YCModerator">
		Youth Council Moderator
	</label>
	<br>
	<input checked class="form-check-input filterRole" id="GAdmin" type="checkbox" value="">
	<label class="form-check-label" for="GAdmin">
		General Administrator
	</label>
</div>

<table class="table table-striped table-bordered table-sm" id="dtVerticalScrollExample">
	<thead>
	<tr>
		<th class="th-sm">UserName
		</th>
		<th class="th-sm">Email
		</th>
		<th class="th-sm">Role
		</th>
		<th class="th-sm">Details
		</th>
		<th class="th-sm">Delete
		</th>
	</tr>
	</thead>
	<tbody class="tbodyUsers">
	<tr th:data-user-id="${user.id}" th:each="user: ${users}">
		<td class="usernameUser" th:text="${user.username}" />
		<td class="emailUser" th:text="${user.email}" />
		<td class="roleUser" th:text="${user.role}" />
		<td>
			<a th:href="@{/users/{userId}(userId=${user.id})}">
				<button class="btn btn-primary detailsButton" type="button">Details</button>
			</a>

		</td>
		<td>
			<button class="btn btn-danger deleteButton" type="button">Delete</button>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>