<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Log in</title>
	<script defer th:src="@{/js/login/login.js}"></script>
</head>
<body>

<!--LOGIN-->
<div th:insert="~{fragments/fragments::navigationbar(3)}">My navbar</div>

<div class="container">
	<div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
		<div class="panel border bg-white">
			<div class="panel-body p-3">
				<form class="my-3 d-flex flex-column align-items-start gap-3" method="POST" th:action="@{/login}"
				>
					<div class="input-group has-validation">
						<div th:class="${errorMessage != null?'form-floating is-invalid':'form-floating'}">
							<input placeholder="Email or Username" th:class="${errorMessage != null ?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
								   id="username"
								   name="username"
							/>
							<label class="form-label" for="username">Email Or Username</label>
						</div>
						<div class="invalid-feedback"
							 th:if="${errorMessage != null}"
							 th:text="${errorMessage}"
						></div>
					</div>


					<div class="input-group has-validation">
						<div th:class="${errorMessage != null?'form-floating is-invalid':'form-floating'}">
							<input placeholder="Password" th:class="${errorMessage != null?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
								   id="password"
								   type="password"
							/>
							<label class="form-label" th:for="password">Password</label>
						</div>
						<button class="btn btn-outline-secondary" id="button-show-password" type="button">
							<i class="bi bi-eye"></i>
						</button>
						<div class="invalid-feedback"
							 th:if="${errorMessage != null}"
							 th:text="${errorMessage}"
						>
						</div>
					</div>

					<button class="btn btn-primary" type="submit">Log in</button>
				</form>
				<div class="mb-2 text-center text-muted">Don't have an account? <a th:href="@{/sign-up}">Sign up</a>
				</div>

				<div class="d-flex justify-content-evenly my-auto">
					<a th:href="@{/oauth2/authorization/facebook}" class="btn btn-primary"><i class="fab bi-facebook"
					></i> Log in with Facebook</a>
					<a th:href="@{/oauth2/authorization/google}" class="btn btn-danger"><i class="fab bi-google"></i>
						Log in with Google</a>
				</div>

			</div>

		</div>
	</div>
</div>


<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>