<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<title>Log in</title>
	<script defer th:src="@{/js/login/login.js}"></script>
</head>
<body>

<!--LOGIN-->
<!--<div th:insert="~{fragments/fragments::navigationbar(3)}">My navbar</div>-->
<th:block th:insert="~{fragments/fragments::navbar(user)}"></th:block>
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card border-0 shadow rounded-3 my-5">
				<div class="card-body p-4 p-sm-5">
					<h5 class="card-title text-center mb-5 fw-light fs-5">Log In</h5>
					<form method="POST" th:action="@{/login}">
						<div class="input-group has-validation">
							<div th:class="${errorMessage != null?'form-floating is-invalid':'form-floating'}">
								<input placeholder="Email or Username" th:class="${errorMessage != null ?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
									   id="username"
									   name="username"
									   type="text"
								/>
								<label class="form-label" for="username">Email or Username</label>
							</div>

						</div>
						<div class="input-group has-validation">
							<div th:class="${errorMessage != null?'form-floating is-invalid':'form-floating'}">
								<input placeholder="Password" th:class="${errorMessage != null?
    				   'form-control form-control-lg is-invalid ':
    				   'form-control form-control-lg border-3 '}"
									   id="password"
									   type="password"
								/>
								<label class="form-label" th:for="password">Password</label>
							</div>
							<button class="btn btn-outline-secondary" id="button-show-password" type="button">
								<i class="bi bi-eye"></i>
							</button>
							<div class="invalid-feedback"
								 th:if="${errorMessage != null}"
								 th:text="${errorMessage}"
							>
							</div>
						</div>
						<div class="d-grid">
							<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Log
																										   in
							</button>
						</div>
						<hr class="my-4">
						<div class="d-grid mb-2">
							<a th:href="@{/oauth2/authorization/google}" class="btn btn-danger"><i class="bi-google"
							></i>
								Log in with Google</a>
						</div>
						<div class="d-grid">
							<a th:href="@{/oauth2/authorization/facebook}" class="btn btn-primary"><i
									class="bi-facebook"
							></i> Log in with Facebook</a>
						</div>
						<hr class="my-4">
						<div class="mb-2 text-center text-muted">Don't have an account? <a th:href="@{/sign-up}">Sign
																												 up</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/fragments::footer}">Footer</div>
</body>
</html>