<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User Details</title>
	<th:block th:insert="~{fragments/fragments::meta_script_link}" />
	<script defer src="/js/management/user-management.js"></script>
</head>
<body>
<div th:text="${user.id}"></div>
<div th:text="${user.email}"></div>
<div th:text="${user.username}"></div>
<div th:text="${user.firstName}"></div>
<div th:text="${user.surname}"></div>
<div th:text="${user.role}"></div>
<div th:each="membership : ${memberships}">
	<div th:text="${membership.municipality}" />
	<div th:text="${membership.role}" />

</div>
<!--<div th:text="${user.ideas}"></div>-->
<!--<div th:text="${user.followedActionPoints}"></div>-->
<!--<div th:text="${user.likedActionPoints}"></div>-->
<!--<div th:text="${user.likedIdeas}"></div>-->


<a th:href="@{/userManagement}">
	<button type="button" class="btn btn-primary detailsButton">Go Back</button>
</a>

</body>
</html>