@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background: linear-gradient(to bottom, #476ff4, #954588)
}

h2 {
    font-family: 'Bungee';
    background-color: yellow;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #333;
    padding: 10px;
    border-radius: 4px;
}

h3,p {
    font-family: 'Bungee';
    font-weight: lighter;
}

 i, span, .btn {
    font-family: "Open Sans";
}


.carousel {
    width: 585px;
    height: 468px;
    margin: 0 auto;
}

.carousel-inner {
    width: 585px;
    height: 468px;
    margin: 0 auto;
}

.carousel-item img {
    max-width: 585px;
    max-height: 468px;
    margin: 0 auto;
}

/*	when screen width is 1000px or lower, lower the max width of the image*/
@media (max-width: 1000px) {
    .carousel {
        width: 400px;
        height: 300px;
        margin: 0 auto;
    }

    .carousel-inner {
        width: 400px;
        height: 300px;
        margin: 0 auto;
    }

    .carousel-item img {
        max-width: 400px;
        max-height: 300px;
        margin: 0 auto;
    }
}

/*	when screen width is 1000px or lower, lower the max width of the image*/
@media (max-width: 1410px) {
    .carousel {
        width: 500px;
        height: 400px;
        margin: 0 auto;
    }

    .carousel-inner {
        width: 500px;
        height: 400px;
        margin: 0 auto;
    }

    .carousel-item img {
        max-width: 500px;
        max-height: 400px;
        margin: 0 auto;
    }
}

/*	when screen width is 1000px or lower, lower the max width of the image*/
@media (max-width: 1205px) {
    .carousel {
        width: 450px;
        height: 350px;
        margin: 0 auto;
    }

    .carousel-inner {
        width: 450px;
        height: 350px;
        margin: 0 auto;
    }

    .carousel-item img {
        max-width: 450px;
        max-height: 350px;
        margin: 0 auto;
    }
}


/* Styling for the like button and emojis */

.like-emojis {
    display: none;
    text-align: right;
}

.emoji {
    display: inline-block;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
}

.emoji:hover {
    transform: scale(1.2); /* Increase the size of the emoji on hover */
}

.like-btn:hover {
    background-color: inherit;
    color: inherit;
}
